*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
    @media (max-width:768px) {
        width: 100%;
        text-align: start;
        padding: 10px;
        &:hover{
            background-color: #eee;
        }
    }
}
a:hover{
    color: orangered;
}